* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #1e1e2f;
  color: white;
  height: 100vh;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #252540;
  padding: 20px;
  border-right: 2px solid #333;
}

.sidebar h2 {
  margin-bottom: 20px;
  text-align: center;
}

.gate {
  padding: 12px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 8px;
  cursor: grab;
  font-weight: bold;
  transition: 0.2s ease;
}

.gate:hover {
  transform: scale(1.05);
}


.and {
  background: #4caf50;
}

.or {
  background: #2196f3;
}

.not {
  background: #ff9800;
}

.input {
  background: #9c27b0;
}

.output {
  background: #f44336;
}

/* Canvas */
.canvas {
  flex: 1;
  position: relative;
  background: #2d2d44;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-text {
  opacity: 0.3;
  font-size: 24px;
}
